@import '../default_style.css';

/* 마이페이지 공통 */

#content_container {
    margin-top: 75px;
}

#content_container .aside_mypage {
    width: 25%;
    min-width: 160px;
    height: 100%;
}

#content_container .nav_area_mypage {
    width: 90%;
    min-width: 160px;
    border: 1px solid var(--bs-gray-300);
    border-radius: 15px;
    overflow: hidden;
    margin-top: 50px;
}

#content_container .nav_area_mypage button{
    width: 100%;
    height: 60px;
    border: 0px;
    background-color: #fff; 
    font-size: 16px;
    font-family: 'NanumSquare_B';
    color: var(--bs-gray-500);
} 

#content_container .nav_area_mypage button:nth-child(-n+3){
    border-bottom:  1px solid var(--bs-gray-300);
}

#content_container .nav_area_mypage button:last-child {
    border-bottom: 0px;
}

.aside_menu_mypage {
    padding: 60px 20px;
}

#content_container .content_mypage {
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

#content_container .content_area {
    width: 100%;
    text-align: center;
    padding: 50px 30px;
    
}

#content_container .err {
    font-family: 'NanumSquare_B';
    font-size: 14px;
    color: var(--bs-danger);
}
