@import '../default_style.css';

/* 마이페이지 공통 */

#content_container {
    margin-top: 75px;
}

#content_container .aside_mypage {
    width: 25%;
    min-width: 160px;
    background-color: aliceblue;
    height: 100%;
}

.aside_menu_mypage {
    padding: 60px 20px;
}

#content_container .content_mypage {
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

#content_container .content_area {
    width: 100%;
    text-align: center;
    padding: 50px 30px;
    
}

#content_container .err {
    font-family: 'NanumSquare_B';
    font-size: 14px;
    color: var(--bs-danger);
}



/* 리스트 */

#content_container .content_box {
    width: 220px;
    height: 270px;
    display: inline-block;
    border: 1px solid var(--bs-gray-300);
    padding: 0;
    text-align: left;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

#content_container .content_box .content_img {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

#content_container .content_box .content_img img {
    width: 100%;
    height: 180px; 
    object-fit: cover;
}

#content_container .content_box p {
    margin: 0;
}

#content_container .content_box .content_text {
    padding-left: 10px;
}

#content_container .content_box .content_category_name {
    margin-top: 10px;
    font-size: 14px;
    color: var(--bs-gray-500);
}

#content_container .content_box .content_shop_name {
    font-family: 'NanumSquare_B';
    font-size: 18px;
    color: var(--bs-gray-900);
    margin-bottom: 5px;
}

#content_container .content_box .content_grade {
    font-family: 'NanumSquare_B';
    font-size: 14px;
    color: #FFAD0A;
    line-height: 14px;
    margin: 0;
}

#content_container .content_box .content_grade img {
    padding-bottom: 1px;
    padding-right: 5px;
}


/* 디테일 뷰 */

#content_container .shop_content_area {
    width: 100%;
    min-width: 600px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    text-align: left;
    overflow: hidden;
}

#content_container .shop_info_area {
    padding: 20px;
}

#content_container .shop_insert_area{
    padding: 30px 20px;
}

#content_container .shop_content_area p {
    margin: 0;

}

.shop_content_area p  {
    font-size: 14px;
    font-family: 'NanumSquare_R';
    color: var(--bs-gray-500);
}

#content_container .shop_insert_area .info_title { 
    font-size: 18px;
    font-family: 'NanumSquare_B';
    color: var(--bs-gray-900);
    margin-bottom: 10px;
}    

#content_container .shop_content_area h2 {
    font-size: 16px;
    font-family: 'NanumSquare_B';
    color: var(--bs-gray-900);
}

#content_container .shop_info_area h2 {
    margin-top: 20px ;
}

#content_container .shop_content_area .shop_name_text{
    font-size: 32px;
    font-family: 'NanumSquare_EB';
    color: var(--bs-gray-900);
    margin-bottom: 10px;
}

#content_container .shop_content_area .shop_record_text{
    font-size: 14px;
    font-family: 'NanumSquare_B';
    color: var(--bs-gray-300);    
}

.shop_content_area .shop_record_text span{
    font-size: 14px;
    font-family: 'NanumSquare_B';
    color: #FFAD0A;
}

.accordion {
    --bs-accordion-color: var(--bs-gray-900);
    --bs-accordion-border-width: 0;
    --bs-accordion-btn-padding-x: 0;
    --bs-accordion-btn-padding-y: 0;
}    

.accordion-button {
    padding: 20px;
}

#content_container .shop_content_area .shop_img_box {
    max-width: 240px;
    height: 240px;
    overflow: hidden;
    border-radius: 15px;
    padding: 0;
}

#content_container .shop_content_area .shop_img_box img {
    width: 240px;
    height: 240px;
    object-fit: cover;
}

#content_container .shop_guide_area .guide_title {
    font-size: 14px;
    font-family: 'NanumSquare_B';
    color: var(--bs-gray-900);
    margin: 10px 0px;
}

#content_container .shop_guide_area .guide_content {
    padding-left: 5px;
    padding-bottom: 10px;
}


#content_container .shop_room_area .room_area {
    width: 100%;
    height: 260px;
    display: flex;
    justify-items: center;
    padding: 25px;
    border-radius: 20px;
    border: 1px solid var(--bs-gray-300); 
    margin: 20px 0px;
}

#content_container .shop_room_area .room_image_area {
    width: 210px;
    height: 210px;
    overflow: hidden;
    border-radius: 10px;
}

#content_container .shop_room_area .room_image_area img{
    width: 210px;
    height: 210px; 
    object-fit: cover;
}


#content_container .shop_room_area .room_text_area {
    width: 575px;
    height: 210px;
    margin-left: 25px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

#content_container .shop_room_area .room_info_area {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#content_container .shop_room_area .room_info_area p {
    margin: 0;
    font-size: 12px;
    font-family: 'NanumSquare_B';
    color: var(--bs-gray-500); 
}

#content_container .shop_room_area .room_info_area .room_price_area{
    text-align: right;
}

#content_container .shop_room_area .room_name{
    font-size: 20px;
    font-family: 'NanumSquare_B';
    color: var(--bs-gray-900); 
}

#content_container .shop_room_area .sub_title{
    font-size: 14px !important;
    color: var(--bs-gray-900) !important; 
}

#content_container .shop_room_area .room_price_area p{
    font-size: 20px;
    color: var(--bs-gray-900); 
}

#content_container .shop_room_area .room_price_area p span{
    font-size: 14px;
    font-family: 'NanumSquare_R';
}

/* 시설 등록 */

.shop_insert_area .info_content {
    margin-bottom: 30px;
}

.shop_insert_area .info_content:last-child {
    margin-bottom: 0px;
}


.shop_insert_area .shop_text_input {
    width: 40%;
    min-width: 360px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid var(--bs-gray-500);
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'NanumSquare_R';
    color: var(--bs-gray-900); 
}

.shop_insert_area .shop_textarea {
    width: 60%;
    min-width: 360px;
    height: 120px;
    border-radius: 10px;
    border: 1px solid var(--bs-gray-500);
    padding: 15px 15px;
    font-size: 14px;
    font-family: 'NanumSquare_R';
    color: var(--bs-gray-900); 
    resize: none;
}

.shop_insert_area .info_content .category_btn{
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
}


.shop_insert_area .info_content .region_select{
    width: 30%;
    min-width: 200px;
}

.shop_insert_area .address_area{
    margin-top: 10px;
}

.shop_insert_area .address_input{
    width: 20%;
    min-width: 120px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--bs-gray-500);
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'NanumSquare_R';
    color: var(--bs-gray-900); 
    margin-bottom: 5px;
}

.shop_insert_area .area_top {
    display: flex;
    justify-content: space-between;
}

.shop_insert_area .guide_area .guide_content{
    width: 100%;
    border: 1px solid var(--bs-gray-300);
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0px;
}

.shop_insert_area .guide_area p {
    font-size: 14px;
    font-family: 'NanumSquare_B';
    color: var(--bs-gray-900);
}

.shop_insert_area .guide_area input {
    width: 100%;
    min-width: 360px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid var(--bs-gray-500);
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'NanumSquare_R';
    color: var(--bs-gray-900); 
    margin-bottom: 10px;
}

.shop_insert_area .guide_area textarea {
    width: 100%;
    min-width: 360px;
    height: 85px;
    border-radius: 10px;
    border: 1px solid var(--bs-gray-500);
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'NanumSquare_R';
    color: var(--bs-gray-900); 
    resize: none;
}

.content_area form .submit_btn {
    width: 100px;
    height: 60px;
    background-color: var(--bs-main_color);
    font-size: 16px;
    font-family: 'NanumSquare_B';
    color: #fff;
    border-radius: 15px;
    border: 0;
}